body {
  display: flex;
  align-items: stretch;
  height: 100%;
  margin: 0;
}

.content {
  flex-grow: 1;
  padding: 20px;
}

.menu {
  padding: 20px;
  background-color: rgb(220, 220, 220);
}

.menu.ferme {
  display: none;
}
