body {
  transition: color 0.3s, background-color 0.3s;
}

.theme-jour {
  background-color: white;
  color: black;
}

.theme-nuit {
  background-color: black;
  color: white;
}

.theme-crepuscule {
  background-color: #ffefc0;
  color: #593719;
}

.theme-hacker {
  background-color: #003800;
  color: #00c832;
}

